<div class="container mt-5">

    <div class="text-center">Change Password</div>


    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    
        <div class="row">
            <div class="col-md-12 mb-4">
        
                <div class="form-outline">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" id="password" class="form-control form-control-lg" formControlName="password" />
                </div>
        
                <span class="text-danger" *ngIf="changePasswordForm.get('password')?.hasError('required')">
                    Password is required
                </span>
        
                <span class="text-danger" *ngIf="changePasswordForm.get('password')?.hasError('minlength')">
                    Min 10 Chracters Password is required
                </span>
        
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-4">
            
                <div class="form-outline">
                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" class="form-control form-control-lg"
                        formControlName="confirmPassword"   (blur)="confirm()"/>
            
                </div>
            
                <span class="text-danger" *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">
                            ConfirmPassword is Required
                        </span>
                
                        <span class="text-danger" *ngIf="isValidPassword">
                            Password and ConfirmPassword Must Match
                        </span>
            
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-danger btn-lg ml-4" (click)="onNoClick()">Close</button>
            </div>
        </div>

    </form>
</div>