<div class="mt-4">
    <div class="row custom">

        <div class="col-4" style="background-color: green;">
            Green
        </div>

        <div class="col-4" style="background-color:blue;">
            Blue
        </div>

        <div class="col-4" style="background-color:yellow;">
            Yellow
        </div>
    </div>

    <div class="row custom" >

        <div class="col-4" style="background-color:thistle;">
            Thistle
        </div>

        <div class="col-4" style="background-color: brown;">
            Brown
        </div>

        <div class="col-4" style="background-color: tomato;">
            Tomato
        </div>

    </div>

    <div class="row custom">

        <div class="col-4" style="background-color: slateblue;">
            SlateBlue
        </div>

        <div class="col-4" style="background-color: purple;">
            Purple
        </div>

        <div class="col-4" style="background-color: orange;">
            Orange
        </div>
        
    </div>

</div>